<p id="notice"><%= notice %></p>

<div class="title">
  <h1> <%= @newspage.title %> </h1>
</div>


<div>
  <%= @newspage.description %>
</div>
<div class="nplinks"> <%= link_to 'Вернуться к списку новостей', newspages_path %> </div>
<% if current_user.try(:isAdmin?)   %>
  <p>
    <b>Seotitle:</b>
    <%= @newspage.seotitle %>
  </p>

  <p>
    <b>Seodesc:</b>
    <%= @newspage.seodesc %>
  </p>

  <p>
    <b>Seokeywords:</b>
    <%= @newspage.seokeywords %>
  </p>




  <%= link_to 'Edit', edit_newspage_path(@newspage) %> |
  
<% end %>