<script type="text/javascript">
  $(function() {
    var galleries = $('.ad-gallery').adGallery({

      loader_image: 'loader.gif',
      // Width of the image, set to false and it will 
      // read the CSS width
      width: 950, 
      // Height of the image, set to false and it 
      // will read the CSS height
      height: 410, 
      // Opacity that the thumbs fades to/from, (1 removes fade effect)
      // Note that this effect combined with other effects might be 
      // resource intensive and make animations lag
      thumb_opacity: 0.7,
      // Which image should be displayed at first? 0 is the first image  
      start_at_index: 0, 
      // Whether or not the url hash should be updated to the current image
      update_window_hash: false, 
      // Either false or a jQuery object, if you want the image descriptions
      // to be placed somewhere else than on top of the image
      //description_wrapper: $('#descriptions'), 
      // Should first image just be displayed, or animated in?
      animate_first_image: false,
      // Which ever effect is used to switch images, how long should it take?  
      animation_speed: 400, 
      // Can you navigate by clicking on the left/right on the image?
      display_next_and_prev: false, 
      // Are you allowed to scroll the thumb list?
      display_back_and_forward: true, 
      // If 0, it jumps the width of the container
      scroll_jump: 0, 
      slideshow: {
        enable: true,
        autostart: true,
        speed: 5000,
        start_label: 'Start',
        stop_label: 'Stop',
        // Should the slideshow stop if the user scrolls the thumb list?
        stop_on_scroll: true, 
        // Wrap around the countdown
        countdown_prefix: '(', 
        countdown_sufix: ')',
        onStart: function() {
          // Do something wild when the slideshow starts
        },
        onStop: function() {
          // Do something wild when the slideshow stops
        }
      },
      // or 'slide-vert', 'resize', 'fade', 'none' or false
      effect: 'slide-hori', 
      // Move to next/previous image with keyboard arrows?
      enable_keyboard_move: true, 
      // If set to false, you can't go from the last image to the first, and vice versa
      cycle: true, 
      // All hooks has the AdGallery objects as 'this' reference
      hooks: {
        // If you don't want AD Gallery to handle how the description
        // should be displayed, add your own hook. The passed image
        // image object contains all you need
        displayDescription: function(image) {
          //alert(image.title +" - "+ image.desc);
        }
      },
      // All callbacks has the AdGallery objects as 'this' reference
      callbacks: {
        // Executes right after the internal init, can be used to choose which images
        // you want to preload
        init: function() {
          // preloadAll uses recursion to preload each image right after one another
          //this.preloadAll();
          // Or, just preload the first three
          this.preloadImage(0);
          this.preloadImage(1);
          this.preloadImage(2);
        },
        // This gets fired right after the new_image is fully visible
        afterImageVisible: function() {
          // For example, preload the next image
          var context = this;
          this.loading(true);
          this.preloadImage(this.current_index + 1,
            function() {
              // This function gets executed after the image has been loaded
              context.loading(false);
            }
          );

         
        },
        // This gets fired right before old_image is about to go away, and new_image
        // is about to come in
        beforeImageVisible: function(new_image, old_image) {
          // Do something wild!
        }
      }
      
    });
  });
</script>

<div class="ad-gallery">
  <div class="ad-image-wrapper">
  </div>
  <% if current_user.try(:isAdmin?)   %>
    <div class="ad-controls">
    </div>
  <% end %>
  <div class="ad-nav">
    <div class="ad-thumbs">
      <ul class="ad-thumb-list">
        <li>
          <a href="/assets/bigban1.jpg">
            <%=image_tag "tbigban1.jpg"%>
          </a>
        </li>
        <li>
          <a href="/assets/bigban2.jpg">
            <%=image_tag "tbigban2.jpg"%>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="title">
  <h1> Доставка питьевой воды </h1>
</div>
<div class="main-text">
  Компания "Мир Воды" с 2002 года занимается обеспечением населения Санкт-Петербурга чистой питьевой водой, доставляя в офисы и квартиры бутилированную воду.

На сегодня компания "Мир Воды" имеет современное производство по розливу воды, расположенное в удаленном от городской черты экологически чистом районе Карельского перешейка.

Размещение производства непосредственно у скважины соответствует международным требованиям Всемирной Организации Здравоохранения, запрещающим транспортировку воды к месту бутилирования.
<br/>
<br/>
Процесс розлива воды организован таким образом, что до потребителя доходит вода, изначальный природный состав которой полностью сохранен. Добываемая из артезианской скважины вода, проходя последовательно через систему фильтров, очищается от взвешенных частиц.

Следующий этап очистки воды – обеззараживание. Вода проходит через бактерицидные лампы, подвергается облучению ультрафиолетом, который убивает все находящиеся в воде бактерии и микроорганизмы. При данном способе обеззараживания структура воды не меняется, вода сохраняет свой вкус и свежесть в течение всего срока годности.
</div>

<div class="right-column">
  <br>
  <br>
  <div>
    <%= image_tag "/assets/right1.png" %>
    Артезианская вода из скважины на глубине 185 метров
  </div>
  <br>
  <div>
    <%= image_tag "/assets/right2.png" %>
    Бережная очистка сохраняющая все полезные свойства</div>
  <br>
  <div>
    <%= image_tag "/assets/right3.png" %>
    Современное оборудование и технологии</div>
  <br>
</div>

<div class="for_clear"></div>
<% unless @newspages.blank? %>
  <div class="news-title"> Новости компании </div>
<% end %>

<div class="for_clear"></div>
<% if @newspages[2] %>
  <div class="news-part">
    <div class="news-time"><%=@newspages[2].updated_at.strftime("%d.%m.%Y") %></div><br>
    <%=@newspages[2].short_desc%>
  </div>
<% end %>
  
<% if @newspages[1] %>
  <div class="news-part">
    <div class="news-time"><%=@newspages[1].updated_at.strftime("%d.%m.%Y")%></div><br>
    <%=@newspages[1].short_desc %>
  </div>
<% end %>
  
<% if @newspages[0] %>
  <div class="news-part">
    <div class="news-time"><%=@newspages[0].updated_at.strftime("%d.%m.%Y")%></div><br>
    <%=@newspages[0].short_desc%>
  </div>
<% end %>

<div class="for_clear"></div>

<div class="banners">
  <div class = "banner fban"></div>
  <div class = "banner sban"></div>
  <div class = "banner tban"> </div>
  <div class="for_clear"></div>
</div>



