<h1>Страницы</h1>

<table>
  <tr>
    <th><b>Seotitle</th>
    <th><b>Seokeywords</th>
    <th><b>Title</th>
    <th><b>Parent id</th>
    <th><b>Url</th>
    <th><b></th>
    <th><b></th>
  </tr>

<% @infopages.each do |p| %>
  <tr>
    <td><%= p.seotitle %></td>
    <td><%= p.seokeywords %></td>
    <td><%= p.title %></td>
    <td><%= p.parent_id %></td>
    <td><%= p.url %></td>
    <% if current_user.try(:isAdmin?)   %>
        <td><%= link_to 'Show', p %></td>
        <td><%= link_to 'Edit', edit_infopage_path(p) %></td>
        <td><%= link_to 'Destroy', p, :confirm => "Are you sure?", :method => :delete %></td>
    <% end %>    
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New page', new_infopage_path %>