<% if @root %>
  <% content_for :root do %>
    <%= link_to @root.try(:title), @root %>
  <% end %>
  <% content_for :child do %>
    >
    <%= @infopage.title %>
  <% end %>
<% end %>
<p id="notice"><%= notice %></p>


<div class="title">
  <h1><%= @infopage.try(:h1)%></h1>
  <h2> <%= @infopage.title %> </h2>
</div>

<div>
  <%=raw @infopage.description %>
</div>

<% if current_user.try(:isAdmin?)   %>
  <p>
    <b>Seotitle:</b>
    <%= @infopage.seotitle %>
  </p>

  <p>
    <b>Seodesc:</b>
    <%= @infopage.seodesc %>
  </p>

  <p>
    <b>Seokeywords:</b>
    <%= @infopage.seokeywords %>
  </p>
  <p>
    <b>Top:</b>
    <%= @infopage.top %>
  </p>

  <p>
    <b>Column:</b>
    <%= @infopage.column %>
  </p>

  <p>
    <b>Parent id:</b>
    <%= @infopage.parent_id %>
  </p>

  <%= link_to 'Edit', edit_infopage_path(@infopage) %> |
  <%= link_to 'Back', infopages_path %>
<% end %>