<% if @root %>
  <% content_for :root do %>
    <%= link_to @root.try(:title), @root %>
  <% end %>
  <% content_for :child do %>
    >
    <%= @infopage.try(:title) %>
  <% end %>
<% end %>
<p id="notice"><%= notice %></p>


<div class="title">
  <h1><%= @infopage.try(:h1)%></h1>
  <h2> <%= @infopage.try(:title) %> </h2>
</div>

<div>
  <%=raw @infopage.try(:description) %>
</div>

<% if current_user.try(:isAdmin?)   %>
  <p>
    <b>Seotitle:</b>
    <%= @infopage.try(:seotitle) %>
  </p>

  <p>
    <b>Seodesc:</b>
    <%= @infopage.try(:seodesc) %>
  </p>

  <p>
    <b>Seokeywords:</b>
    <%= @infopage.try(:seokeywords) %>
  </p>
  <p>
    <b>Top:</b>
    <%= @infopage.try(:top) %>
  </p>

  <p>
    <b>Column:</b>
    <%= @infopage.try(:column) %>
  </p>

  <p>
    <b>Category:</b>
    <%= @infopage.try(:category) %>
  </p>

  <%= link_to 'Edit', edit_infopage_path(@infopage) %> |
  <%= link_to 'Back', infopages_path %>
<% end %>