<div class="lftclmn">
  <% if @root %>
    <% content_for :root do %>
      <%= link_to @root.try(:title), @root %>
    <% end %>
    <% content_for :child do %>
      >
      <%= @infopage.title %>
    <% end %>
  <% end %>
  <p id="notice"><%= notice %></p>

  <div class="title">
    <h1><%= @infopage.try(:h1)%></h1>
  </div>

  <div>
    <%=raw @infopage.description %>
  </div>


  <% if current_user.try(:isAdmin?)   %>
    <p>
      <b>Seotitle:</b>
      <%= @infopage.seotitle %>
    </p>

    <p>
      <b>Seodesc:</b>
      <%= @infopage.seodesc %>
    </p>

    <p>
      <b>Seokeywords:</b>
      <%= @infopage.seokeywords %>
    </p>
    <p>
      <b>Top:</b>
      <%= @infopage.top %>
    </p>

    <p>
      <b>Column:</b>
      <%= @infopage.column %>
    </p>

    <p>
      <b>Parent id:</b>
      <%= @infopage.parent_id %>
    </p>

    <%= link_to 'Edit', edit_infopage_path(@infopage) %> |
    <%= link_to 'Back', infopages_path %>
  <% end %>
</div>


<div class="rgtclmn">
  <% unless @newspages.blank? %>
    <div class="news-title"> Новости компании </div>
  <% end %>
  <div class="for_clear"></div>
  <% if @newspages[0] %>
    <div class="news-p">
      <div class="news-time"><%=@newspages[0].updated_at.strftime("%d.%m.%Y") %></div>
      <%=@newspages[0].short_desc%>
      <%= link_to "Подробнее", @newspages[0] %>
    </div>
  <% end %>
    
  <div class="for_clear"></div>
  <% if @newspages[1] %>
    <div class="news-p tmp">
      <div class="news-time"><%=@newspages[1].updated_at.strftime("%d.%m.%Y")%></div>
      <%=@newspages[1].short_desc %>
      <%= link_to "Подробнее", @newspages[1] %>
    </div>
  <% end %>
    
  <div class="for_clear"></div>
  <% if @newspages[2] %>
    <div class="news-p">
      <div class="news-time"><%=@newspages[2].updated_at.strftime("%d.%m.%Y")%></div>
      <%=@newspages[2].short_desc%>
      <%= link_to "Подробнее", @newspages[2] %>
    </div>
  <% end %>
  <br/>
  <div class="alllnk"> <%= link_to "Все новости", newspages_path %></div>
  <br/>
</div>

<div class="fclr"></div>
