<%= simple_form_for(@waterbottle) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :seotitle %>
    <%= f.input :seodesc %>
    <%= f.input :seokeywords %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :tabledesc %>
    <%= f.input :maker %>
    <%= f.input :volume %>
    <%= f.input :corporatedesc %>
    <%= f.input :individualdesc %>
    <%= f.input :photo %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
