<p id="notice"><%= notice %></p>

<p>
  <b>Seotitle:</b>
  <%= @waterbottle.seotitle %>
</p>

<p>
  <b>Seodesc:</b>
  <%= @waterbottle.seodesc %>
</p>

<p>
  <b>Seokeywords:</b>
  <%= @waterbottle.seokeywords %>
</p>

<p>
  <b>Title:</b>
  <%= @waterbottle.title %>
</p>

<p>
  <b>Description:</b>
  <%= @waterbottle.description %>
</p>

<p>
  <b>Maker:</b>
  <%= @waterbottle.maker %>
</p>

<p>
  <b>Volume:</b>
  <%= @waterbottle.volume %>
</p>

<p>
  <b>Corporatedesc:</b>
  <%= @waterbottle.corporatedesc %>
</p>

<p>
  <b>Individualdesc:</b>
  <%= @waterbottle.individualdesc %>
</p>

<% if current_user.try(:isAdmin?)   %>
  <%= link_to 'Edit', edit_waterbottle_path(@waterbottle) %> |
  <%= link_to 'Back', waterbottles_path %>
<% end %>