<h1>Список баннеров</h1>

<table>
  <tr>
    <th>Image</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @banners.each do |banner| %>
  <tr>
    <td><%= image_tag banner.image_url(:thumb) %></td>
    <td><%= banner.name %></td>
    <td><%= link_to 'Show', banner %></td>
    <td><%= link_to 'Edit', edit_banner_path(banner) %></td>
    <td><%= link_to 'Destroy', url_for(banner), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Создать баннер', new_banner_path %>
