<h1>Listing costs</h1>

<table>
  <tr>
    <th>Waterbottle</th>
    <th>Startcount</th>
    <th>Endcount</th>
    <th>Price</th>
    <th>Corporate</th>
    <th>Individual</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @costs.each do |cost| %>
  <tr>
    <td><%= cost.waterbottle %></td>
    <td><%= cost.startcount %></td>
    <td><%= cost.endcount %></td>
    <td><%= cost.price %></td>
    <td><%= cost.corporate %></td>
    <td><%= cost.individual %></td>
    <td><%= link_to 'Show', cost %></td>
    <td><%= link_to 'Edit', edit_cost_path(cost) %></td>
    <td><%= link_to 'Destroy', cost, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cost', new_cost_path %>
