<h1 class="newstitle">АКЦИИ</h1>

<% @specoffers.each do |specoffer| %>
  <div class="specoffer">
    <div class="so_img"> <%= image_tag  specoffer.photo.medium.url %> </div>
    <div class="so_content"  >
      <h2> <%= specoffer.title %> </h2>
      <%=raw specoffer.shortdesc %>
    </div>
    <div class="nplinks">
      <%= link_to 'Подробнее', specoffer %>
    </div>
    <div class="for_clear"></div>
    <div class="nplinks">
      <% if current_user.try(:isAdmin?)   %>
          <%= link_to 'Edit', edit_specoffer_path(specoffer) %>
          <%= link_to 'Destroy', url_for(specoffer), confirm: 'Are you sure?', method: :delete %>
      <% end %>
    </div>
  </div>
<% end %>


<br />
<% if current_user.try(:isAdmin?)   %>
  <%= link_to 'New Specoffer', new_specoffer_path %>
<% end %>
