<p id="notice"><%= notice %></p>

<p>
  <b>Seotitle:</b>
  <%= @specoffer.seotitle %>
</p>

<p>
  <b>Seodesc:</b>
  <%= @specoffer.seodesc %>
</p>

<p>
  <b>Seokeywords:</b>
  <%= @specoffer.seokeywords %>
</p>

<p>
  <b>Title:</b>
  <%= @specoffer.title %>
</p>

<p>
  <b>Shortdesc:</b>
  <%= @specoffer.shortdesc %>
</p>

<p>
  <b>Description:</b>
  <%= @specoffer.description %>
</p>

<p>
  <b>Photo:</b>
  <%= @specoffer.photo %>
</p>

<% if current_user.try(:isAdmin?)   %>
  <%= link_to 'Edit', edit_specoffer_path(@specoffer) %> |
  <%= link_to 'Back', specoffers_path %>
<% end %>