

<p id="notice"><%= notice %></p>

<div class="title">
  <h1> <%= @specoffer.title %> </h1>
</div>


<div>
  <%= @specoffer.description %>
</div>
<div class="nplinks"> <%= link_to 'Вернуться к списку акций', specoffers_path %> </div>
<% if current_user.try(:isAdmin?)   %>
  <p>
    <b>Seotitle:</b>
    <%= @specoffer.seotitle %>
  </p>

  <p>
    <b>Seodesc:</b>
    <%= @specoffer.seodesc %>
  </p>

  <p>
    <b>Seokeywords:</b>
    <%= @specoffer.seokeywords %>
  </p>





  <%= link_to 'Edit', edit_specoffer_path(@specoffer) %> |
  <%= link_to 'Back', specoffers_path %>
<% end %>