<% @coolers.each do |cooler| %>
  <div class="cooler cborder">
    <br/>
    <br/>
    <% unless cooler.photo.blank? %>
      <%=image_tag cooler.photo.medium.url, :alt => "#{cooler.title}" %>
    <% end %>
    <div class="c-title">
      <h2><%= cooler.title %></h2>
    </div>
    
    <table class="cooler-table">
      <tr>
        <td>Тип конструкции</td>
        <td><%= cooler.constructiontype %></td>
      </tr>
      <tr>
        <td class="white">Тип охлаждения</td>
        <td class="white"><%= cooler.coolingtype %></td>
      </tr>
      <tr>
        <td>Нагрев</td>
        <td><%= cooler.heatingtime %>л/ч (~<%= cooler.heatingtemprature%>C)</td>
      </tr>
      <tr>
        <td class="white">Мощность нагрева</td>
        <td class="white"><%= cooler.heatingpower %> Вт</td>
      </tr>
      <tr>
        <td>Охлаждение</td>
        <td><%= cooler.coolingtime %>л/ч (~<%= cooler.coolingtemprature%>C)</td>
      </tr>
      <tr>
        <td class="white" >Мощность охлаждения</td>
        <td class="white"><%= cooler.coolingpower %> Вт</td>
      </tr>
      <tr>
        <td>Габариты (ш*г*в)</td>
        <td><%= cooler.width %> x <%= cooler.long %> x <%= cooler.height %> мм</td>
      </tr>
    </table>

    <div class="price"> 
      <%= cooler.price %>
    </div>

    <div class="more"> 
      <%= link_to cooler do%>
        <%= image_tag "more.png" %>
      <% end %>
    </div>

    <div class="for_clear"></div>
    
    <br/>
    <br/>
    <% if current_user.try(:isAdmin?)   %>
        <%= link_to 'Edit', edit_cooler_path(cooler) %>
        <%= link_to 'Destroy', cooler, confirm: 'Are you sure?', method: :delete %>
    <% end %>
  </div>

<% end %>
