
<% content_for :root do %>
  <%= link_to "Кулеры", coolers_path %>
<% end %>
<% content_for :child do %>
  >
  <%= @cooler.title %>
<% end %>
<div class="cooler">
  <div class="title">
    <h1> <%= @cooler.title %> </h1>
  </div>
  <% unless @cooler.photo.blank? %>
    <%=image_tag @cooler.photo.medium.url, :alt => "#{@cooler.title}" %>
  <% end %>
  <p class="clr"><b>Характеристики кулера для воды</b></p>
  <table class="cooler-table" style="width: 500px;">
      <tr>
        <td>Тип конструкции</td>
        <td><%= @cooler.constructiontype %></td>
      </tr>
      <tr>
        <td class="white">Тип охлаждения</td>
        <td class="white"><%= @cooler.coolingtype %></td>
      </tr>
      <tr>
        <td>Нагрев</td>
        <td><%= @cooler.heatingtime %>л/ч (~<%= @cooler.heatingtemprature%>C)</td>
      </tr>
      <tr>
        <td class="white">Мощность нагрева</td>
        <td class="white"><%= @cooler.heatingpower %> Вт</td>
      </tr>
      <tr>
        <td>Охлаждение</td>
        <td><%= @cooler.coolingtime %>л/ч (~<%= @cooler.coolingtemprature%>C)</td>
      </tr>
      <tr>
        <td class="white" >Мощность охлаждения</td>
        <td class="white"><%= @cooler.coolingpower %> Вт</td>
      </tr>
      <tr>
        <td>Габариты (ш*г*в)</td>
        <td><%= @cooler.width %> x <%= @cooler.long %> x <%= @cooler.height %> мм</td>
      </tr>
      <tr>
        <td class="white">Особенности</td>
        <td class="white"><%= @cooler.feature %></td>
      </tr>
      <tr>
        <td>Цена, руб.</td>
        <td><%= @cooler.price %></td>
      </tr>

  </table>
  <div class="for_clear"></div>
  <div class="body">
    <%=raw @cooler.description %>
  </div>
  <br/>
  <br/>
  <div class="nplinks"> <%= link_to 'Вернуться к списку кулеров', coolers_path %> </div>

  <% if current_user.try(:isAdmin?)   %>
      <br>
      <br>
      <b>Seotitle:</b>
      <%= @cooler.seotitle %>
      <br>
      <b>Seodesc:</b>
      <%= @cooler.seodesc %>
      <br>
      <b>Seokeywords:</b>
      <%= @cooler.seokeywords %>
      <br>
    <%= link_to 'Edit', edit_cooler_path(@cooler) %> |
    
  <% end %>
  <div class="for_clear"></div>
</div>