<div class="cooler">
  <p id="notice"><%= notice %></p>


  <%=image_tag @cooler.photo.medium.url %>
  <div class="title">
    <h1> <%= @cooler.title %> </h1>
  </div>
  <div>
    <%=raw @cooler.description %>
  </div>

  <p><b>Характеристики кулера для воды</b></p>
  <table class="cooler-table">
      <tr>
        <td>Тип конструкции</td>
        <td><%= @cooler.constructiontype %></td>
      </tr>
      <tr>
        <td>Тип охлаждения</td>
        <td><%= @cooler.coolingtype %></td>
      </tr>
      <tr>
        <td>Нагрев</td>
        <td><%= @cooler.heatingtime %>л/ч (~<%= @cooler.heatingtemprature%>C)</td>
      </tr>
      <tr>
        <td>Мощность нагрева</td>
        <td><%= @cooler.heatingpower %> Вт</td>
      </tr>
      <tr>
        <td>Охлаждение</td>
        <td><%= @cooler.coolingtime %>л/ч (~<%= @cooler.coolingtemprature%>C)</td>
      </tr>
      <tr>
        <td >Мощность охлаждения</td>
        <td><%= @cooler.coolingpower %> Вт</td>
      </tr>
      <tr>
        <td>Габариты (ш*г*в)</td>
        <td><%= @cooler.width %> x <%= @cooler.long %> x <%= @cooler.height %> мм</td>
      </tr>
      <tr>
        <td>Особенности</td>
        <td><%= @cooler.feature %></td>
      </tr>
      <tr>
        <td>Цена, руб.</td>
        <td><%= @cooler.price %></td>
      </tr>

  </table>
  <br>
  <div class="nplinks"> <%= link_to 'Вернуться к списку кулеров', coolers_path %> </div>

  <% if current_user.try(:isAdmin?)   %>
      <br>
      <br>
      <b>Seotitle:</b>
      <%= @cooler.seotitle %>
      <br>
      <b>Seodesc:</b>
      <%= @cooler.seodesc %>
      <br>
      <b>Seokeywords:</b>
      <%= @cooler.seokeywords %>
      <br>
    <%= link_to 'Edit', edit_cooler_path(@cooler) %> |
    
  <% end %>
  <div class="for_clear"></div>
</div>