<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      ФИО: <%= @order.name %><br/>
      Компания: <%= @order.company %><br/>
      Телефон: <%= @order.phone %><br/>
      E-mail: <%= @order.email %><br/>
      Тип: <%= @order.watertype %><br/>
      Количество: <%= @order.count %><br/>
      Дата: <%= @order.date %><br/>
      Время: <%= @order.time %><br/> 
      Адрес: <%= @order.address %><br/>
      Комментарий Заказчика: <%= @order.comment %><br/>
    </p>
        
  </body>
</html>