<p id="notice"><%= notice %></p>


<div class="title">
  <h1> <%= @region.title %></h1>
</div>

<div>
  <%= @region.description %>
</div>
<table class="delivery">
  <thead>
    <tr>
      <td></td>
      <td>ПН</td>
      <td>ВТ</td>
      <td>СР</td>
      <td>ЧТ</td>
      <td>ПТ</td>
      <td>СБ</td>
      <td>ВС</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Доставка</td>
      <td class="<%= @region.mon %>"></td>
      <td class="<%= @region.tue %>"></td>
      <td class="<%= @region.wed %>"></td>
      <td class="<%= @region.thu %>"></td>
      <td class="<%= @region.fri %>"></td>
      <td class="<%= @region.sat %>"></td>
      <td class="<%= @region.sun %>"></td>
    </tr>
  </tbody>
</table>
<div class="nplinks">
  <%= link_to 'Вернуться к списку районов', regions_path %>
</div>
<% if current_user.try(:isAdmin?)   %>
  <p>
    <b>Seotitle:</b>
    <%= @region.seotitle %>
  </p>

  <p>
    <b>Seodesc:</b>
    <%= @region.seodesc %>
  </p>

  <p>
    <b>Seokeywords:</b>
    <%= @region.seokeywords %>
  </p>

  <%= link_to 'Edit', edit_region_path(@region) %> |

<% end %>