<p id="notice"><%= notice %></p>

<p>
  <b>Seotitle:</b>
  <%= @region.seotitle %>
</p>

<p>
  <b>Seodesc:</b>
  <%= @region.seodesc %>
</p>

<p>
  <b>Seokeywords:</b>
  <%= @region.seokeywords %>
</p>

<p>
  <b>Title:</b>
  <%= @region.title %>
</p>

<p>
  <b>Description:</b>
  <%= @region.description %>
</p>

<p>
  <b>Mon:</b>
  <%= @region.mon %>
</p>

<p>
  <b>Tue:</b>
  <%= @region.tue %>
</p>

<p>
  <b>Wed:</b>
  <%= @region.wed %>
</p>

<p>
  <b>Thu:</b>
  <%= @region.thu %>
</p>

<p>
  <b>Fri:</b>
  <%= @region.fri %>
</p>

<p>
  <b>Sat:</b>
  <%= @region.sat %>
</p>

<p>
  <b>Sun:</b>
  <%= @region.sun %>
</p>

<% if current_user.try(:isAdmin?)   %>
  <%= link_to 'Edit', edit_region_path(@region) %> |
  <%= link_to 'Back', regions_path %>
<% end %>