<%= simple_form_for @quick_order do |f| %>
  <%= f.error_notification %>
  <div id="close">X</div>
  <div id="qorder" class="form-inputs">
    <%= f.input :name, :label => false, :placeholder => "ФИО или номер договора", :input_html => {:class => "fio required"} %>
    <div class="for_clear"></div>
    <%= f.input :company, :label => "Компания" %>
    <div class="for_clear"></div>
    <%= f.input :phone, :label => "Телефон для связи", :placeholder => "+7 (***) ***-**-**",:input_html => {:class => "required"} %>
    <div class="for_clear"></div>
    <%= f.input :email, :label => "E-mail" %>
    <div class="for_clear"></div>
    <%= f.input :volume, :as => :hidden %>
    <div class="for_water">
      <%= f.input :watertype, :collection => Waterbottle.select("volume, title, id").order("volume DESC").all, :label => "Вода", value_method: :name,:input_html => {:class => "required"} %>
      <%= f.input "count", :label => "Количество бутылей",:input_html => {:class => "water_count required"} %>
    </div>
    <div class="for_water_fields">
    </div>
    <%=link_to "Добавить воду", "#", onclick: "render_fieldset()", id: "link_to_add_water" %>
    <span class='errr'></span>
    <%= f.input :date, :label => "Дата доставки", :as => "string",:input_html => {:class => "required"} %>
    <div class="time">
      <%= f.input :time, :collection => ["с 9 до 17", "с 17 до 22" ], :as => :radio_buttons, :label => "Время доставки" %>
    </div>
    <div class="for_clear"></div>
    <%= f.input :address, :label => "Адрес доставки" %>
    <div class="for_clear"></div>
    <%= f.input :comment, :label => false, :placeholder => "Дополнительная информация",:input_html => {:rows => "3", :cols => "67"} %>
    <div class="for_clear"></div>
    <div class="for_right"></div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :value => "Оформить заказ" %>
  </div>
<% end %>
