<h1>Listing quick_orders</h1>

<table class="qorders">
  <tr>
    <th>Имя</th>
    <th>Компания</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Тип воды</th>
    <th>Кол-во</th>
    <th>Дата</th>
    <th>Время</th>
    <th>Адрес</th>
    <th>Коммент</th>
    <th></th>
  </tr>

<% @quick_orders.each do |quick_order| %>
  <tr>
    <td><%= quick_order.name %></td>
    <td><%= quick_order.company %></td>
    <td><%= quick_order.phone %></td>
    <td><%= quick_order.email %></td>
    <td><%= quick_order.watertype %></td>
    <td><%= quick_order.count %></td>
    <td><%= quick_order.date %></td>
    <td><%= quick_order.time %></td>
    <td><%= quick_order.address %></td>
    <td><%= quick_order.comment %></td>
    <td><%= link_to 'удал.', url_for(quick_order), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Quick order', new_quick_order_path %>
