<h1 class="newstitle">Аксессуары и помпы</h1>

<% @accessories.each do |accessory| %>
  <div class="cooler aborder">
    <div class="title">
      <h1> <%= accessory.title %> </h1>
    </div>
    <%=image_tag accessory.photo.spec_offer.url %>
    
    <table class="cooler-table">
      <tr>
        <td colspan="2">Характеристики</td> 
      </tr>
      <tr>
        <td>Наличие</td>
        <td><%= accessory.availability ? "есть" : "отсутствует" %></td>
      </tr>
      
      <tr>
        <td>Цена, руб.</td>
        <td><%= accessory.price %></td>
      </tr>
    </table>
    <br>

    <div >
      <%= accessory.description %>
    </div>

    <div class="nplinks"> <%= link_to 'Подробнее', accessory %> </div>
    <div class="for_clear"></div>
    <% if current_user.try(:isAdmin?)   %>
        <%= link_to 'Подробнее', accessory %>
        <%= link_to 'Edit', edit_accessory_path(accessory) %>
        <%= link_to 'Destroy', accessory, confirm: 'Are you sure?', method: :delete %>
    <% end %>
  </div>

<% end %>

<br />

