<h1 class="newstitle">Аксессуары и помпы</h1>
<br/>
<% @accessories.each do |accessory| %>
  <div class="cooler aborder">
    <%=image_tag accessory.photo.medium.url, :alt => "#{accessory.title}" %>
    <div class="c-title tlink">
      <%= link_to accessory do%>
        <h2> <%= accessory.title %> </h1>
      <% end %>
    </div>
    <div class="lft">
      <div class="price to-right"> 
        <%= format("%.2f", accessory.price) %>
      </div>
      <div class="more"> 
        <%= link_to accessory do%>
          <%= image_tag "more.png" %>
        <% end %>
      </div>
    </div>

    
    <div class="for_clear"></div>

    <% if current_user.try(:isAdmin?)   %>
        <%= link_to 'Подробнее', accessory %>
        <%= link_to 'Edit', edit_accessory_path(accessory) %>
        <%= link_to 'Destroy', accessory, confirm: 'Are you sure?', method: :delete %>
    <% end %>
  </div>

<% end %>

<br />

