<% content_for :root do %>
  <%= link_to "Аксессуары", accessories_path %>
<% end %>
<% content_for :child do %>
  >
  <%= @accessory.title %>
<% end %>
<div class="cooler">
  <div class="title">
    <h1> <%= @accessory.title %> </h1>
  </div>
  <%=image_tag @accessory.photo.medium.url, :alt => "#{@accessory.title}" %>


  <p class="clr"><b>Характеристики</b></p>
  <table class="cooler-table">
    <tr>
      <td>Цена, руб.</td>
      <td><%= format("%.2f", @accessory.price) %></td>
    </tr>
  </table>
  <div class="for_clear"></div>
  <div class="body">
    <%=raw @accessory.description %>
  </div>
  <br>
  <div class="nplinks"> <%= link_to 'Вернуться к списку помп и аксессуаров', accessories_path %> </div>

  <% if current_user.try(:isAdmin?)   %>
      <br>
      <br>
      <b>Seotitle:</b>
      <%= @accessory.seotitle %>
      <br>
      <b>Seodesc:</b>
      <%= @accessory.seodesc %>
      <br>
      <b>Seokeywords:</b>
      <%= @accessory.seokeywords %>
      <br>
    <%= link_to 'Edit', edit_accessory_path(@accessory) %> |

  <% end %>
  <div class="for_clear"></div>
</div>
