<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  
  <title><%= seotitle%></title>
  <meta name="description" content="<%= seodescription %>" />
  <meta name="keywords" content="<%= seokeywords%>" />
  
  <%= stylesheet_link_tag    "application.css" %>
  <%= stylesheet_link_tag    "jquery.ad-gallery.css" %>
  <%= javascript_include_tag "main.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">
    <div class="content-top">
      <div class="card empty">
      </div>

      <div class="top-text">Доставка природной питьевой воды в Санкт-Петербурге</div>
      <div class="login-links">
        <% if current_user %>
          <span><%= link_to current_user.email, edit_user_registration_path %></span> </br>
          <%= link_to "Выйти", destroy_user_session_path, :method => :delete %>
        <%else %>
          <%= link_to "Вход", new_user_session_path %> </br>
          <%= link_to "Регистрация", new_user_registration_path %>
        <% end %>
      </div>
      <div class="social"> 
        <span> Мы в </span>
        <a href="http://vk.com/primaaqua">
          <%= image_tag "/assets/vk.png" %>
        </a>  
        <a href="http://twitter.com">
          <%= image_tag "/assets/tvitter.png" %>
        </a>
      </div>

      <div class="phone">Заказ воды: 
      <div>(812) 335-40-80</div> </div>
      <div id="call-phone">
        <%= image_tag "/assets/phonereq.png"%>
      </div>
      <a href="/" id="logo">
        <img src="/assets/logo.png" alt="">
      </a>

      <div class="top-menu menu">
        <ul class="tm">
          
            <% if @about %>
              <li><%= link_to  @about do %>
                  <div>О КОМПАНИИ</div>
                <% end %>

                <p>                   </p>
                <ul class="firstli aboutli">
                  <% @about.infopages.each do |p| %>
                    <li><%= link_to p do %> <%= p.title %> <% end %> </li>
                  <% end %>
                </ul>

              </li>
            <% end %>
            <li><%= link_to  newspages_path do %>
              <div>НОВОСТИ</div>
            <% end %></li>
            <%if @delivery %>  
              <li><%= link_to @delivery do %>
                  <div>ДОСТАВКА</div>
                <% end %>
                <p>                   </p>
                <ul class="firstli">
                  <% @delivery.infopages.each do |p| %>
                    <li><%= link_to p do %> <%= p.title %> <% end %> </li>
                  <% end %>
                </ul>
              </li>
            <% end %> 

            <%if @water %>  
              <li><%= link_to @water do %>
                  <div>О ВОДЕ</div>
                <% end %>
                <p>                   </p>
                <ul class="firstli waterli">
                  <% @water.infopages.each do |p| %>
                    <li><%= link_to p do %> <%= p.title %> <% end %> </li>
                  <% end %>
                </ul>
              </li>
            <% end %> 

            <li>
            <%= link_to  waterbottles_path do %>
              <div>ЗАКАЗ ВОДЫ</div>
            <% end %></li>
            <li><%= link_to  accessories_path do %>
                  <div>КУЛЕРЫ И ПОМПЫ</div>
                <% end %>
                <p>                   </p>
                <ul class="firstli coolersli">
                  <li><%= link_to coolers_path do %> КУЛЕРЫ <% end %> </li>
                  <li><%= link_to accessories_path do %> АКСЕССУАРЫ <% end %> </li>
                </ul>
            </li>
            <li><%= link_to specoffers_path do %>
              <div>АКЦИИ</div>
            <% end %></li>
            <li><%= link_to waterbottles_path do %>
              <div>ЦЕНЫ</div>
            <% end %></li>

        </ul>    
      </div>  
      <% if current_user.try(:isAdmin?)   %>
        <div class="admin-links">
          Создать:  
          <%= link_to "Категорию", new_category_path %>   |
          <%= link_to "Страницу", new_infopage_path %>   |
          <%= link_to "Новость", new_newspage_path %>   |
          <%= link_to "Акцию", new_specoffer_path %>   |
          <%= link_to "Район", new_region_path%>   |
          <%= link_to "Кулер", new_cooler_path%>   |
          <%= link_to "Аксессуар", new_accessory_path%>   |
          <%= link_to "Воду", new_waterbottle_path%>   |
          <%= link_to "Цены", new_cost_path%>   |
          <br/>
          Посмотреть:  
          
          <%= link_to "Страницы", list_infopages_path %>   |
          <%= link_to "Категории", categories_path %>   |
          <%= link_to "Заказы", quick_orders_path%>   |
          <%= link_to "Заявки на звонки", request_calls_path%>   
          
        </div>
      <% end %>
    </div>
    <div id="content-body">
      <%= yield %>
    </div>

    <div id="content-footer">
      <table class="foot-table">
        <thead>
          <tr>
            <td>МИР ВОДЫ</td>
            <td>ЗАКАЗ ВОДЫ</td>
            <td>ДОСТАВКА ВОДЫ</td>
            <td>тел. (812) 335-40-80</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <% if @c1pages %>  
              <td>
                <% @c1pages.each do |c1p|%>
                  <%= link_to c1p.title, c1p %> <br> 
                <% end %>
              </td>
            <% end %>
            <% if @c2pages %>  
              <td>
                <% @c2pages.each do |c2p|%>
                  <%= link_to c2p.title, c2p %> <br> 
                <% end %>
              </td>
            <% end %>
            <% if @c3pages %>  
              <td>
                <% @c3pages.each do |c3p|%>
                  <%= link_to c3p.title, c3p %> <br> 
                <% end %>
              </td>
            <% end %>
              
            <td>
              195248 <br> г. Санкт-Петербург <br>ул. Партизанская, д.25 <br> E-mail: <a href="mailto:lider-aqua@metropost.ru">lider-aqua@metropost.ru</a>
            </td>

          </tr>
        </tbody>
      </table>
    </div>

    <div id="order-button"><%= image_tag "/assets/button1.png"%></div>
    <div class="wrapper">
      <div id="popup"></div>
    </div>
    <div id="tests" class="hdn"></div>
  </div>

</body>
</html>
