<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  
  <title><%= seotitle%></title>
  <meta name="description" content="<%= seodescription %>" />
  <meta name="keywords" content="<%= seokeywords%>" />

  <%= stylesheet_link_tag    "jquery.ad-gallery.css" %>

  <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
  <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
  <link href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <%= stylesheet_link_tag    "application.css", 'jquery-ui-1.9.2.custom' %>
  <%= javascript_include_tag "application", 'jquery-ui-1.9.2.custom' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">
    <div class="content-top">
      <div class="card empty">
      </div>

      <div class="top-text">Доставка природной питьевой воды в Санкт-Петербурге</div>
      <div class="login-links">
        <% if current_user %>
          <span><%= link_to current_user.email, edit_user_registration_path %></span> </br>
          <%= link_to "Выйти", logout_path %>
        <%else %>
          <div class="hdn">
            <%= link_to "Вход", new_user_session_path %> </br>
            <%= link_to "Регистрация", new_user_registration_path %>
          </div>
        <% end %>
      </div>
      <div class="social"> 
        <span> Мы в </span>
        <a href="http://vk.com/primaaqua">
          <%= image_tag "/assets/vk.png" %>
        </a>  
        <a href="http://twitter.com/prima_aqua">
          <%= image_tag "/assets/tvitter.png" %>
        </a>
      </div>

      <div class="phone">Заказ воды: 
      <div>(812) 335-40-80</div> </div>
      <div id="call-phone">
        <%= image_tag "/assets/phonereq.png"%>
      </div>
      <a href="/" id="logo">
        <img src="/assets/logo.png" alt="">
      </a>

      <div class="top-menu menu">
        <ul class="tm">
          
            <% if @pinfo[0] %>
              <li><%= link_to @pinfo[0] do %>
                  <div><%=@pinfo[0].title%></div>
                <% end %>

                <p>                   </p>
                <ul class="firstli aboutli">
                  <% @pinfo[0].childrens.each do |p| %>
                    <li><%= link_to p do %> <%= p.title %> <% end %> </li>
                  <% end %>
                </ul>

              </li>
            <% end %>
            
            <li><%= link_to  newspages_path do %>
              <div>НОВОСТИ</div>
            <% end %></li>
            
            <%if @pinfo[1] %>  
              <li><%= link_to @pinfo[1] do %>
                  <div><%=@pinfo[1].title%></div>
                <% end %>
                <p>                   </p>
                <ul class="firstli">
                  <% @pinfo[1].childrens.each do |p| %>
                    <li><%= link_to p do %> <%= p.title %> <% end %> </li>
                  <% end %>
                </ul>
              </li>
            <% end %> 

            <%if @water %>  
              <li><%= link_to ovodes_path do %>
                  <div>О ВОДЕ</div>
                <% end %>
                <p>                   </p>
                <ul class="firstli waterli">
                  <% @water.each do |p| %>
                    <li><%= link_to p do %> <%= p.title %> <% end %> </li>
                  <% end %>
                </ul>
              </li>
            <% end %> 

            <li>
            <%= link_to  waterbottles_path do %>
              <div>ЗАКАЗ ВОДЫ</div>
            <% end %></li>
            <li><%= link_to  "#" do %>
                  <div>КУЛЕРЫ И ПОМПЫ</div>
                <% end %>
                <p>                   </p>
                <ul class="firstli coolersli">
                  <li><%= link_to coolers_path do %> КУЛЕРЫ <% end %> </li>
                  <li><%= link_to accessories_path do %> АКСЕССУАРЫ <% end %> </li>
                </ul>
            </li>
            <li><%= link_to specoffers_path do %>
              <div>АКЦИИ</div>
            <% end %></li>
            <li><%= link_to waterbottles_path do %>
              <div>ЦЕНЫ</div>
            <% end %></li>

        </ul>    
      </div>  
      <% if current_user.try(:isAdmin?)   %>
        <div class="admin-links">
          Создать:  
          <%= link_to "Категорию", new_category_path %>   |
          <%= link_to "Страницу", new_infopage_path %>   |
          <%= link_to "Страницу о воде", new_ovode_path %>   |
          <%= link_to "Новость", new_newspage_path %>   |
          <%= link_to "Акцию", new_specoffer_path %>   |
          <%= link_to "Район", new_region_path%>   |
          <%= link_to "Кулер", new_cooler_path%>   |
          <%= link_to "Аксессуар", new_accessory_path%>   |
          <%= link_to "Воду", new_waterbottle_path%>   |
          <%= link_to "Цены", new_cost_path%>   |
          <br/>
          Посмотреть:  
          
          <%= link_to "Страницы", list_infopages_path %>   |
          <%= link_to "Категории", categories_path %>   |
          <%= link_to "Заказы", quick_orders_path%>   |
          <%= link_to "Заявки на звонки", request_calls_path%>   
        </div>
      <% end %>
      
    </div>
    <div id="content-body">
      <div id="breadcrumbs">
        <span class="root nplinks">
          <%= yield :root %>
        </span>
         
        <span class="child">
          <%= yield :child %>
        </span>
      </div>
      
      <%= yield %>

      
      <div class="for_clear"></div>

      <div class="banners">
        <div class = "banner fban"></div>
        <div class = "banner sban"></div>
        <div class = "banner tban"> </div>
        <div class="for_clear"></div>
      </div>
    </div>

    <div id="content-footer">
      <table class="foot-table">
        <thead>
          <tr>
            <td>МИР ВОДЫ</td>
            <td>ЗАКАЗ ВОДЫ</td>
            <td>ДОСТАВКА ВОДЫ</td>
            <td itemprop="telephone">тел. (812) 335-40-80</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <% if @c1pages %>  
              <td>
                <% @c1pages.each do |c1p|%>
                  <%= link_to c1p.title, c1p %> <br> 
                <% end %>
                <%= link_to "Карта сайта", sitemap_infopages_path %>
              </td>
            <% end %>
            <td>
              <% if @water %>
                <% @water.each do |w| %>
                  <%= link_to w.title, w %> <br/>
                <% end %>
              <% end %>
              <% if @c2pages %>  
                <% @c2pages.each do |c2p|%>
                  <%= link_to c2p.title, c2p %> <br> 
                <% end %>
              <% end %>
            </td>
            <% if @c3pages %>  
              <td>
                <% @c3pages.each do |c3p|%>
                  <%= link_to c3p.title, c3p %> <br> 
                <% end %>
              </td>
            <% end %>
              
            <td> <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
              <span itemprop="postalCode">195248 </span><br><span itemprop="addressLocality"> г. Санкт-Петербург </span><br> <span itemprop="streetAddress">ул. Партизанская, д.25 </span> </span><br> E-mail: <a href="mailto:lider-aqua@metropost.ru" itemprop="email">lider-aqua@metropost.ru</a>
            </td>

          </tr>
        </tbody>
      </table>
    </div>

    <div id="order-button"><%= image_tag "/assets/button1.png"%></div>
    <div class="wrapper">
      <div id="popup"></div>
    </div>
    <div id="tests" class="hdn"></div>
  </div>

</body>
</html>
